*
/* importa a fonte "boboto" do google fonts em divversos estilos e pesos*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*paleta escolhida*/

    --main-color: #a8bdb1;
    /*cor principal*/
    --bg: #a8bdb1;
    --br-card: #817f7f;
    --border: 1.5rem solid #160e02;
    /*fronteira*/


}



* {
    margin: 0;
    /*margem*/
    padding: 0;
    /*preenchimento*/
    box-sizing: border-box;
    /*dimensionamento de caixa*/

    font-family: 'Roboto', 'sans-serif';
    /*família de fontes Roboto sem serifa*/

    text-decoration: none;
    /*decoração de texto nenhuma*/
    text-transform: capitalize;
    /*transformação de texto: capitalizar em letras maiusculas*/

    transition: 0.3s linear;
    /*transição*/

    outline: none;
    /*não delinear nenhum (esboço: nenhum*/

   

    scroll-behavior: smooth;
    /*comportamento de rolagem: suave*/


}

html {
    font-size: 62.5%;
    /*configuração do font-size para 62.5%, facilitando o uso do rem (1rem = 10px)*/
    overflow-x: hidden;
    /*estouro x oculto*/


}

body {
    flex-wrap: wrap;
    /*permite que os itens quebrem para a próxima linha se necessário*/
    background: var(--main-color);/*plano de fundo: var*/

}

/*inicio do header*/
header {

    background-color: #a8bdb1;
    /*tira depois o background-color: #a8bdb1*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 7%;
    /* explicação do uso da porcentagem*/
    border-bottom: 0.5rem solid #e2dfd9;
    position: sticky;
    /* sticky posição do header*/
    top: 0;
    left: 0;
    z-index: 999;

    font-weight: lighter;
    /* peso da fonte mais leve*/


}

.logo img {

    height: 6.5rem;
    /*define a altura da logo */
    border-radius: 100%;
    /*torna a logo circular*/

}

.div-logo {
    color: #3d3d3d;
    display: flex;
    align-items: start;
    gap: 1rem;
    font-size: 1.8rem;

}

.div-logo:hover {
    color: #f8f8f5;
    /* mudar a cor do icone ao passar o mouse*/
}


h4 {
    font-size: 1rem;

}


.ul-header {
    display: flex;
    /* flex deixa a home lado a lado*/
    gap: 3rem;
    /* espaçamento entre as lis*/
    list-style: none;
    /* tira as bolinhas das homes sempre na ul*/

}

.ul-header li a {

    color: #3d3d3d;
    /*cor do texto*/
    font-size: 1.5rem;
    /* tamanho da fonte do texto*/

}

.ul-header li a:hover {
    color: #f8f8f5;
    /* hover muda a cor do texto ao passar o mouse*/
    border-bottom: 0.5rem solid #e2dfd9;
    /* adiciona uma linha inferior ao texto quando passa o mouse*/
    padding-bottom: 0.5rem;
    /*adiciona espaçamento inferior*/
}

.icons {
    /* não estou mexendo nos icones, e sim na caixa */
    display: flex;
    align-items: center;
    gap: 8px;


}

.icons i {

    color: #3d3d3d;
    /* cor para icones*/
    cursor: pointer;
    /* altera o cursor ao passar sobre o icones*/
    font-size: 2rem;
    /* tamanho do icones*/
}

.icons i:hover {
    color: #f8f8f5;
    /* mudar a cor do icone ao passar o mause*/
}


.procedimento {
    background-color: #a8bdb1;
    display: grid; /*Organiza os elementos internos em um layout de grade*/
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    /*Cria colunas flexiveis com larg. min. de 30rem e máx. proporcional*/
    gap: 1.5rem; /*Define o espaçamento entre os itens da grade*/
   
}


.procedimento .box {
    padding: 2rem; /*add espaçamento interno ao redor do conteúdo da caixa*/
    text-align: center;/*centraliza o texo*/
    border: 0.5rem solid #e2dfd9; /*aplicando uma borda ao redor da caixa*/
    background: var(--bg-card); /*define a cor de fundo da caixa*/
    
}

.procedimento .box img {
    height: 10rem;/*define a altura da img*/
    width: 10rem;
   
}

p {
    padding: 2rem;
    font-size: 2rem;
    color: #3d3d3d;  
}

.cln {
    background-color: #a8bdb1;
    display: grid; /*Organiza os elementos internos em um layout de grade*/
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    /*Cria colunas flexiveis com larg. min. de 30rem e máx. proporcional*/
    gap: 1rem; /*Define o espaçamento entre os itens da grade*/
    align-items: center;
}


.cln .box {
    padding: 2rem; /*add espaçamento interno ao redor do conteúdo da caixa*/
    text-align: center;/*centraliza o texo*/
    border: 0.5rem solid #e2dfd9; /*aplicando uma borda ao redor da caixa*/
    background: #817f7f; /*define a cor de fundo da caixa*/
    gap: 0.5rem;
}

.cln .box img {
    height: 10rem;/*define a altura da img*/
    width: 10rem;
   
}

.cln .box p {
    padding: 2rem;
    font-size: 2rem;
    color: #3d3d3d;

}


h5 {
    font-size: 3rem;/*tamanho da fonte*/
    text-align: center;/*alinhando o texto ao centro*/
    padding: 1.8rem;/*espaçamento interno entre o texto e a margem*/
    border: solid #a8bdb1 ;/*aplicando borda*/
    margin-bottom: 2rem;
}

footer {
    color: #3d3d3d;
    background-color: #a8bdb1;
    padding: 3rem;
    display: flex;
    
    justify-content: space-between;
    /*justify-content: space-between; coloca os icones bem no canto lado direito */
}


footer a {
  
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.8;
    /*espaçamento entre linhas */
    padding: 1rem 0;
    color: #3d3d3d;

}

.div-ende-1 {
  
    width: 14rem;
    height: 10rem;
}

.div-ende-2 {
   
    width: 16rem;
    height: 10rem;
}
.div-ende-3 {
     list-style: none;
    /* tirá as bolinhas das li*/
    width: 14.3rem;
    height: 10rem;
}

.div-ende-1 a:hover {
    color: #f8f8f5;
}
.div-ende-2 a:hover {
    color: #f8f8f5;
}
.div-ende-3 a:hover {
    color: #f8f8f5;

}
 


.footer-i {
  
    height: 0rem;
    /* não estou mexendo nos icones, e sim na caixa */
    display: flex;
      justify-content: end;
    gap: 2rem;


}


.footer-i i {

    color: #3d3d3d;
    /* tira mudaça de paleteta de cores*/
    /* cor branca para icones*/
    cursor: pointer;
    /* altera o cursor ao passar sobre o icones*/
    font-size: 2rem;
    /* tamanho do icones*/


}

.footer-i i:hover {
    color: #f8f8f5;
    /* tira mudaça de paleteta de cores*/
    /* mudar a cor do icone ao passar o mause*/

}

.foot ul li  {
    list-style: none;
   margin-left: 6rem;
   /* margin-left da espaçamento para a direita*/
}

.foot ul li a:hover {

    color: #f8f8f5;


}


.botao-whats {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    background-color: #25d366;
    border-radius: 100%;
    width: 5rem;   
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-size: 10rem;
}


.botao-whats i {
    font-size: 3rem;
    color: #f8f8f5;
}

/* responcivel*/
 @media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 1.5rem;
    }
}

section {
    padding: 1.5rem;
}

@media (max-width: 668px) {
    /*colocar código para esconder o menu*/
    .ul-header {
        display: none;
    }
    
}

@media(max-width: 158px)  {
    html {
        font-size: 25%;

    }
}

@media(max-width: 158px)  {
    main {
        font-size: 20%;

    }
}

@media screen {
  
    
}

/*footer re*/
@media (max-width: 668px) {
    /*colocar código para esconder o menu*/
    footer ul {
        display: none;
    }
    
}
@media(max-width: 158px)  {
    footer {
        font-size: 20%;

    }
}
@media (max-width: 668px) {
    /*colocar código para esconder o menu*/
    .div-ende-2 {
        display: none;
    }
    }

   @media (max-width: 668px) {
  .content-2  {
    text-align: center;
   margin-bottom: 20%;

    }
   }


   
   

